<h1><%= @user.name %>のページ</h1>

<p>ユーザー名　  : <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

<h4><%= @user.name %>の投稿一覧</h4>

<div class="container">
  <ul class="row">
　<% @user_pictures.each do |picture| %>
    <li class="col-md-4">
　    <p><%= image_tag picture.image.url %></p>
　    <p>コメント： <%= picture.content %></p>
    </li>
  <% end %>
  </ul>
</div>