<%= form_with(model: @picture, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @picture.errors.full_messages.each do |msg| %>
      <h2 class="alert alert-danger" role="alert">
        <strong><%= msg %></strong>
      </h2>
      <% end %>
      </ul>
    </div>
  <% end %>
  
　 <div class="picture_content">
    <%= image_tag(@picture.image.url) if @picture.image.url %>
    <%= form.hidden_field :image_cache %>
  </div>

　<% if @picture.image_cache %>
  <div class="picture_content">
　  <%= form.label :前回アップロード画像%>
　  <%= simple_format(@picture.image_cache.sub!(/.*\//m, ""), :style => "display:inline;") %>
  </div>
  <div class="picture_content">
    <%= form.label :写真を変更する %>
    <%= form.file_field :image %>
  </div>
  <% else %>
  <div class="picture_content">
    <%= form.file_field :image %>
  </div>
  <% end %>

  <div class="picture_content">
    <%= form.label :コメント %>
    <%= form.text_field :content %>
  </div>
  <p>
    <%= form.submit %>
  </p>

<% end %>