<%= form_with(model: @picture) do |form| %>
  <div class="picture_content">
    <%= form.label :画像 %>
    <%= form.file_field :image %>
  </div>
  <div class="picture_content">
    <%= form.label :コメント %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>